<header>
    <div class="header-content">
        <!-- ヘッダーロゴ -->
        <div class="logo">
            <a href="{{ '/' | relative_url }}">
                <img src="{{ '/assets/icons/mimneko-note-icon.png' | relative_url }}" alt="サイトアイコン" class="site-icon">
                <span class="site-name">{{ site.title }}</span>
            </a>
        </div>
        
        <!-- ハンバーガーメニュー部分 -->
        <div class="hamburger-menu">
        
            <!-- ハンバーガーメニューの表示・非表示を切り替えるチェックボックス -->
            <input id="drawer-input" class="drawer-hidden" type="checkbox">
        
            <!-- ハンバーガーアイコン -->
            <label for="drawer-input" class="drawer-open"><span></span></label>
        
            <!-- メニュー -->
            {% include navigation.html %}
    
        </div>
    </div>
</header>
